@import '../../../assets/styles/variables.scss';

.login-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;

  .login-container {
    height: 100%;
    width: 500px;
    width: 100%;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    background-color: $brand-primary;
    box-shadow: $box-shadow-two;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 100%,
      rgba(255, 255, 255, 0.5) 100%
    );

    @media screen and (min-width: $screen-md-min) {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .input {
      width: 50%;
      margin: $spacing-8 0;
    }

    .btn {
      width: 50%;
    }
  }
}
