@import '../../assets/styles/variables.scss';

.terms-page {
  width: 95%;
  padding: $spacing-8;
  @media screen and (min-width: $screen-xl-min) {
    width: 100%;
    padding: 0;
  }

  .heading {
    font-size: $font-size-medium;
    font-family: $primary-font;
    color: $brand-primary-light;
  }

  .body {
    color: $dark-gray;
    font-size: $font-size-normal;
    text-align: justify;
    line-height: 1.5;
    font-family: $secondary-font;
    font-weight: $font-weight-bold;
  }
}
