@import '../../assets/styles/variables.scss';

.navigation {
  background-color: $brand-primary;
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $spacing-40;
  box-shadow: $box-shadow;

  .logo,
  .nav-links {
    padding: 0 $spacing-16;
  }

  .nav-links {
      display: flex;

      .links {
          margin: 0 $spacing-8;
      }
  }


}
