@import '../../../assets/styles/variables.scss';

.accept-call-container {
  position: relative;
  z-index: 10;
  .accept-call {
    position: absolute;
    right: $spacing-8;
    padding: $spacing-8 $spacing-24;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    margin: $spacing-8;
    background: $gray;

    .close {
      position: absolute;
      right: 8px;
      img {
        width: 14px;
        height: 14px;
      }
    }

    .message {
      margin-right: $spacing-16;
      font-family: $secondary-font;
    }

    .call-action {
      display: flex;
      justify-content: center;
      .btn {
        margin: $spacing-8;
      }
    }
  }
}
