$brand-primary: #aa3230;
$brand-secondary: #aa3230;

// Gray scale
$black: #3d3935;
$white: #fff;
// $dark-gray: #3d

$max-width: 1440px;

$spacing-2: 2px;
$spacing-4: 4px;
$spacing-8: 8px;
$spacing-16: 16px;
$spacing-24: 24px;
$spacing-32: 32px;
$spacing-40: 40px;
$spacing-48: 48px;

$screen-xs-min: 320px !default;
$screen-sm-min: 540px !default;
$screen-sm-mid-min: 600px !default;
$screen-md-min: 768px !default;
$screen-md-mid: 840px !default;
$screen-lg-min: 991px !default;
$screen-xl-min: 1080px !default;

$border-radius: 5px;

// Font Sizes
$font-size-xsmall: 12px;
$font-size-small: 14px;
$font-size-normal: 16px;
$font-size-medium: 24px;

$box-shadow: 0px 2px 6px 0px rgba(0,0,0,.12);
$box-shadow-two: 0px 2px 9px 2px rgba(0, 0, 0, 0.34);

// Fonts
$primary-font: 'Varela Round', sans-serif;
$secondary-font: 'Signika Negative', sans-serif;
